<%-include('head') -%>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">This is My Blog.</h1>
    <p class="lead">
    <% for(var i=0;i<data.length;i++) { %>
      <!-- Title -->
      <h2><%=(i+1)%>. <%=data[i].title%></h2>
      <!-- Content -->
      <p>
    <% for(var j=0;j<30;j++) {%> 
      <%=data[i].main[j]%>
      <% } %> 
    <a href=<%="/post/"+data[i].title%> style="color:lightblue;">read me!</a>
  </p>
    <%} %>
    </p>
  </main>


<%-include('foot') -%>